@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .solutions {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    padding: 188px 0;
  }
/* HEADER */

.header-list-nav {
  display: flex;
  margin-left: 76px;
  gap: 40px;
}

.header-container {
  display: flex;
  justify-content: space-between;
} 
.list-adress {
  margin-left: auto;
  flex-wrap: nowrap;
  display: flex;
  color: var(--link-color);
  gap: 40px;
}
  /* TASKS */
  .tasks {
    display: flex;
  }
  .tasks-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
    margin-bottom: 72px;
  }
  .tasks {
    display: flex;
    padding-bottom: 120px;
  }

  .tasks-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
  }

  .tasks-img {
    border: 1px solid var(--border-color);
  }


  /* ADVANTAGES */

  .adv-svg-div {
    display: none;
  }

  .adv-svg-div {
    display: flex;
    justify-content: center;
    background: var(--white-color);
    border-radius: 4px;
    margin-bottom: 8px;
    align-items: center;
    height: 112px;
  }
  .advantages-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .advantages-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 8px;
    margin-top: 0;
    text-align: left;
  }
  .advantages-text {
    font-weight: 400;
    font-size: 16px;
   
  }
  .footer-soc-email {
    margin-left: 80px;
  } 

  .subscribe-form {
    margin: 0;
   width: 264px;

  
  }
  .footer-container {
    flex-direction: row;
  }
    .footer-social {
    margin-left: 120px;
  }
  .footer-soc-email {
    margin-top: 0;
  }
  .costumers .container {
    padding: 0 15px;
  }
  .costumers-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .costumers-list {
    gap: 24px;
    row-gap: 72px;
  }
  .customers-link-tag {
    min-width: 0;
  }
  .customers-link-tag {
    height: 88px;
  }

  .costumers-list li {
    width: calc((100% - 120px) / 6);
  }
  /* .costumers{padding: 120px 120px;} */

  .team-container{padding-top: 120px;
  padding-bottom: 120px;}
       
   .custom-li{width: 168px;
  height: 88px;}



}
