@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }


  .costumers-list {
    align-items: center;
    flex-direction: row;
    padding: 0px;

    gap: 16px;
    row-gap: 72px;
  }
  .customers-link-tag {
    min-width: 190px;
  }
  .customers-link-tag {
    border: 1px solid var(--grey-white-color);
    border-radius: 4px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--grey-white-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .costumers-list li {
    width: calc((100% - 16px) / 2);
  }
  .solutions {
  background-color: var(--background-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/solutions-mob-1x.jpg);

  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
   screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
 screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .solutions {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/solutions-mob-2x.jpg);
  }

}
/* @media screen and (min-device-pixel-ratio: 2) and (min-width: 428px),
   screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 428px),
  screen and (min-resolution: 192dpi) and (min-width: 428px) ,
 screen and (min-resolution: 2dppx) and (min-width: 428px) {
  .solutions {
    background-image: url('photo@2x.png');
  }
} */